<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>First Dashboard</title>

    <!-- Mathjax script for Latex support -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js", type="module"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script>
    </script>
</head>
<body>
    <header>
        <div class="navbar navbar-dark bg-dark shadow-sm">
            <div class="">
                <a class="navbar-brand align-items-left" href="#"><strong>Covid Journal First Dashboard</strong></a>
            </div>
        </div>
    </header>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">Plots</h6>
                    <ul class="nav flex-column">
                        {% for plot in plot_list %}
                        <li class="nav-item">
                            <a class="nav-link active", href="#">{{ plot.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            {% if plot_list %}
                {% for plot in plot_list %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">{{ plot.title }}</h1>
                </div>
                <div class="container my-4 w-100">
                    {{ plot.html | safe }}
                </div>
                {% endfor %}
            {% else %}
                <p>No plots available.</p>
            {% endif %}
            </main>
        </div>
    </div>
</body>
</html>