<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Dashboard</title>

    <!-- Mathjax script for Latex support -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <!-- Latest compiled and minified plotly.js JavaScript -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js", type="module"></script>
    <script>
    </script>
</head>
<body>
{% if plot_list %}
    {% for plot in plot_list %}

    {{ plot | safe }}
    {% endfor %}
{% else %}
    <p>No plots available.</p>
{% endif %}
</body>
</html>